
.resultado{
    margin-top:20px;
    width:400px;
    padding:10px;
    background:var(--bgColor1);
    border-radius:20px;
    text-align:center;
    color:var(--fontColor1);
}
.imcSpan{
    color:var(--fontColor2);
}
.tabela{
    background:var(--bgColor2);
    margin-top:30px;
    width:400px;
    border-radius:20px;
    text-align:center;
    border-spacing:0;
}